   

/*######################## LOGIN/SIGNUP PAGE START ##################################*/
.at-login-form .btn-fb
{
  display: inline-block;
  padding: 18px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: #4568B2;
  width: 100%;
  margin-top: 10px;
  color:#fff;
}

.at-login-form .btn-gp
{
  display: inline-block;
  padding: 18px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #eee;
  border-radius: 0px;
  background-color: #db4a39;
  width: 100%;
  margin-top: 10px;
  color:#fff;
}

.at-login-form .btn-lgin
{
  display: inline-block;
  padding: 18px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #eee;
  border-radius: 0px;
  background-color: #1DB9EC;
  width: 100%;
  margin-top: 10px;
  color:#fff;
}
.at-login-form .signup-or-separator {
  background: none;
  height: 34px;
  position: relative;
  text-align: center;
}
.at-login-form .signup-or-separator--text {
  background-color: #fff;
  display: inline-block;
  padding: 8px;
}

.at-login-form .h6 {
  font-size: 14px;
  font-weight: bold;
  color: #757575;
  line-height: 1.1;
  text-rendering: optimizelegibility;
}

.at-login-form .signup-or-separator hr {
    margin: -25px auto 10px;
    width: 100%;  
 }
 
 .at-login-form .form-control-form {
    display: block;
    width: 100%;
    height: 54px;
    padding: 15px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-top: 3px;
}   
 .at-login-form .frgt-pswd
{
color: #44ede4;
}

 .at-login-form .btn-gst
{
  display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid #000;
border-radius: 0px;
background-color: transparent;
}

 .at-login-form .ta-l
{
  text-align:left;
  margin-top: 5px;
}

 .at-login-form .modal-dialog {
    width: 500px;
    margin: 30px auto;
}

.at-login-form .modal-content
{
  padding: 0px 10px;
}

.at-login-form  .modal-header {
    padding: 10px 10px;
    border-bottom: 0px solid #e5e5e5;
}
.blue-bg-nav
{
    background-color:#1DB9EC;
/*######################## LOGIN/SIGNUP PAGE  END ##################################*/